html {
    overflow-y: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}


/*************************** HEADER *******************************/

#head {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0vw 0.1vh 0.5vh 0.4vh #000;
}

@supports (position: sticky) {
    body {
        padding-top: 0;
    }
    #head {
        position: sticky;
    }
}

#head0 {
    background-image: url(../img/fake_brick.png);
    height: 10vh;
    padding-bottom: 1em;
}

#cooking {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 0.6em;
    color: #2199e8;
}

#cooking p {
    margin: 0;
    line-height: 1em;
}

#cooking span {
    color: #ffffff;
}

#name {
    margin-top: 0.4em;
    padding: 0;
}

@media only screen and (max-width: 40em) {
    .small-12 .myName {
        font-size: 2.5em;
        letter-spacing: 0.3;
        line-height: 0.9;
        margin-bottom: auto;
        color: #2199e8;
        margin: 0.3vh;
    }
}

@media only screen and (min-width: 40.063em) {
    .large-10 .myName {
        font-size: 4em;
        letter-spacing: 0.3;
        line-height: 0.8;
        color: #2199e8;
    }
}

h1.myName {
    font-weight: 900;
    font-family: 'Bungee Hairline', cursive;
}


/******************************** SIDEBAR + CONTENT *********************************/

.myContent {
    margin-top: 10vh;
    height: 90vh;
}

#body {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
    font-size: large;
}


/************************************ SIDEBAR ****************************************/

.kichwa {
    background: #fff url(../img/dot_bg.png) repeat left top;
    height: 100vh;
    position: fixed;
}

.k_overlay {
    background: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
    max-height: 100vh;
}


/********************************** TABS / NAVZ / LEFT-SIDEBAR  *********************************/

#left-sidebar {
    background: none;
    border: none;
    padding-right: 0;
    padding-left: 0.15em;
}

.blog {
    display: table;
    width: 100%;
}

.blog > a {
    display: table-cell;
    width: 16.66vw;
}


/*Small screens, max-width 640px*/

@media only screen and (max-width: 40em) {
    .tabs-title > a,
    .blog > a {
        font-size: 0.75em;
        padding: 0;
        height: 2.5em;
        line-height: 0.8em;
    }
    .tabs-title > a > span:before,
    .blog > a > span:before {
        content: "\a";
        white-space: pre;
    }
    #tabs-title > a {
        padding-top: 0.5em;
    }
}


/*Medium screens, min-width 641px, max-width 1024px*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .tabs-title > a,
    .blog > a {
        font-size: 1em;
        padding-left: 0.9em;
        padding-right: 0;
        height: 4em;
        line-height: 1em;
    }
    .tabs-title > a > span:before,
    .blog > a > span:before {
        content: "\a";
        white-space: pre;
    }
    #tabs-title > a {
        padding-top: 1em;
    }
}


/*Large screens, min-width 1025px*/

@media only screen and (min-width: 64.063em) {
    .tabs-title > a,
    .blog > a {
        font-size: 1em;
        height: 4em;
        line-height: 1em;
    }
    .tabs-title > a > span:before,
    .blog > a > span:before {
        content: "\a";
    }
    #tabs-title > a {
        padding-top: 1.5em;
    }
    #left-sidebar {
        padding-left: 1em;
    }
    .blog > a {
        padding-left: 1.5rem;
    }
}

.tabs-title > a,
.blog > a {
    font-family: 'BenchNine', sans-serif;
    font-weight: 600;
}

.tabs-title > a[aria-selected='true'] {
    background: rgba(230, 230, 230, 0.4);
}

.tabs-title > a:hover,
.blog > a:hover {
    background: rgba(0, 0, 0, 0.4);
}


/*Hover when tab is selected*/

.tabs-title > a[aria-selected='true']:hover {
    background: rgba(230, 230, 230, 0.4);
}


/********************************** NAVS / FOOTS *********************************/

#navs {
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 40em) {
    #foots > .column > a {
        height: 1.2em;
    }
}

@media only screen and (min-width: 40.063em) {
    #foots > .column > a {
        height: 2em;
    }
}

#foots > .column > a {
    padding: 0;
    text-align: center;
}

#foots > .column > a > i {
    margin: 0;
}

.cr {
    color: #FFFFFF;
    font-family: 'Bungee Hairline', cursive;
    font-size: initial;
    line-height: 0.9em;
}


/********************************** CONTENT *********************************/

.mwili {
    background: #fff url(../img/diamond_upholstery.png) repeat left top;
    height: 90vh;
    position: fixed;
    bottom: 0;
    overflow-y: auto;
}

#mwili {
    background: none;
    border-style: none;
}

.folio {
    height: 46%;
    width: 100%;
    box-shadow: 0.5vh 0.5vh 40vh 5vh rgba(0, 0, 255, 0.3) inset;
    margin-bottom: 2%;
    border-radius: 0.3em;
    font-size: medium;
}

.folio2 {
    padding-top: 0.5em;
}

.folio2 > * {
    margin-left: 0.5em;
}

@media only screen and (max-width: 40em) {
    .img0 {
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
    }
    .img1 {
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
    }
}

@media only screen and (min-width: 40.063em) {
    .img0 {
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
    }
    .img1 {
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
    }
}

.elevate {
    margin-bottom: 2%;
    padding: 1em;
    border-radius: 0.3em;
    box-shadow: 0.5vh 0.5vh 40vh 5vh rgba(0, 0, 255, 0.3) inset;
}

ul.none {
    list-style-type: none;
}

ul.square {
    list-style-type: square;
}

ul.circle {
    list-style-type: circle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jura', sans-serif;
}


/*****************************************
Specify fonts with:
---

font-family: 'Share Tech Mono', monospace;
font-family: 'Jura', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Bungee Hairline', cursive;
*******************************************/
