@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

$accent-color: #00ffff;

.my-accent-color {
  color: $accent-color;
}

body {
  color: #fff;
  margin: 0;
}

.brand {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  &:hover {
    color: $accent-color;
  }

  &:before,
  &:after {
    // ●\25CF◗\25D7❂\2742⊛\229B⊕\2295⊖\2296⊘\2298
    content: '\2742';
    color: #d3d3d3;
  }
}

@media (max-width: 767.98px) {
  .collapse.show {
    height: calc(100vh - 74px);
  }

  .navbar-nav {
    margin: 25% auto 75% auto;
  }

  .nav-link {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .nav-item.active .nav-link {
    color: $accent-color !important;
  }

  .hamburger-button__button,
  .hamburger-button__checkbox {
    display: none;
  }
}

footer a {
  color: #fff;
  font-size: 1em;

  &:hover {
    color: $accent-color;
  }
}
