$accent-color: rgb(0, 255, 255);

.my-accent-color {
  color: $accent-color;

  &:hover {
    color: desaturate($accent-color, 50%);
  }
}

.my-text-light {
  color: rgb(224, 224, 224);

  &:hover {
    color: $accent-color;
  }
}

.bg-1 {
  background-color: rgba(75, 81, 93, 0.9);
}

.form-control {
  color: #fff;

  &:focus {
    color: #fff;
  }
}

.md-form {
  label {
    color: #fff;
  }

  .active {
    color: rgba(255, 255, 255, 0.8);
  }
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type='text']:not(.browser-default):focus:not([readonly]),
.md-form input[type='email']:not(.browser-default):focus:not([readonly]),
.md-form input[type='tel']:not(.browser-default):focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $accent-color;
  box-shadow: 0 1px 0 0 $accent-color;
}

.md-form input:not([type]):focus:not([readonly])+label,
.md-form input[type='text']:not(.browser-default):focus:not([readonly])+label,
.md-form input[type='email']:not(.browser-default):focus:not([readonly])+label,
.md-form input[type='tel']:not(.browser-default):focus:not([readonly])+label,
.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: desaturate($accent-color, 20%);
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
}

.my-bg-color {
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  color: #fff;
  margin: 0;
}

.brand {
  color: #fff;
  text-align: center;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 20px;

  &:hover {
    color: $accent-color;
  }

  &:before,
  &:after {
    // ●\25CF ◖\25D6◗\25D7❂\2742⊛\229B⊕\2295⊖\2296⊘\2298 ◍\25CD ◣\25E3 ◥\25E5 
    // ⑆\2446 ±\00B1 ⊂\2282 ∩\2229 †\2020 ✝\271D ⊤\22A4 ⊺\22A4 ＋\FF0B ﹢\FE62 ✢\2722
    // content: '\2742';// color: #d3d3d3;
    // font-size: 8px;
  }
}

.nav-item .nav-link.active {
  // background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #0ff !important;
}

@media (max-width: 767.98px) {
  .collapse.show {
    height: calc(100vh - 74px);
  }

  .navbar-nav {
    margin: 25% auto 75% auto;
  }

  .nav-link {
    text-align: center;
  }
}

@media (min-width: 768px) {

  .hamburger-button__button,
  .hamburger-button__checkbox {
    display: none;
  }
}

.intro {
  width: 230px;
}

.intro p {
  margin: 0;
}

// @media (max-width: 767.98px) {
//   .intro {
//     width: 70%;
//   }
// }

// @media (min-width: 768px) {
//   .intro {
//     width: 40%;
//   }
// }

footer a {
  color: #fff;
  font-size: 1em;

  &:hover {
    color: $accent-color;
  }
}

.scroll-down {
  font-size: 10px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mouse {
  width: 1.5rem;
  height: 2.5rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.mouse span {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  transform: rotate(45deg);
  animation: arrow-down 0.5s alternate infinite;
}

@keyframes move-wheel {
  0% {
    oppacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    oppacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arow-down {
  0% {
    oppacity: 0;
  }

  25% {
    oppacity: 0.25;
  }

  50% {
    oppacity: 0.5;
  }

  75% {
    oppacity: 0.75;
  }

  100% {
    oppacity: 1;
  }
}